!!!
html
  head
    meta(charset="utf-8")
    block head
      block title
        title blot.pw - security through imagination
      block scripts
      block favicon
        link(href="/favicon.png",sizes="16x16",rel="icon",type="image/png")
        link(href="/favicon@2x.png",sizes="32x32",rel="icon",type="image/png")
        link(href="/favicon@4x.png",sizes="64x64",rel="icon",type="image/png")
      block stylesheets
        link(href='//fonts.googleapis.com/css?family=Kavoon',rel='stylesheet',type='text/css')
        link(href='/blotpw.css',rel='stylesheet',type='text/css')
  body
    block body
      header
        block header
          h1 blot<span class="blotdot">.</span>pw
      main
        block main